@model RecapMvcApp.Models.PropertyTable

@{
    if (ViewBag.ErrorMessage != null)
    {
        <p style="color:orangered">@ViewBag.ErrorMessage</p>
    }
    var propertyTypes = ViewBag.PropertyTypes as List<SelectListItem>;
    var statusList = ViewBag.StatusList as List<SelectListItem>;
}
<h2>Details of the property</h2>
<hr />
<div class="md-col-6">
    @using (Html.BeginForm()) { 
    
        <h3>Name: @Html.EditorFor(m => m.PropertyOwner)</h3>
        <p>Address: @Html.EditorFor(m => m.PropertyAddress)</p>
        <p>Status: @Html.DropDownListFor(m=> m.PropertyStatus, statusList)</p>
        <p>Property Type:@Html.DropDownListFor(m => m.PropertyTypeId, propertyTypes)</p>
        <p>
            <button>Save Changes</button>
        </p>
    }
</div>

