
@{
    var options = new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "divArea"
    };
}

<h2>Main Page of the Travelogue</h2>
<hr/>
<nav>
    @Ajax.ActionLink("Login", "SignIn", options)
    @Ajax.ActionLink("Register", "Register", options)
</nav>
<div id="divArea">

</div>

