@model SampleMvcApp.Models.Employee

@{
    ViewBag.Title = "CurrentEmployee";
}

<h1 class="h1">@Model.EmpName</h1>
<hr />
<p>Address : @Model.EmpAddress</p>
<p>Salary: @Model.EmpSalary</p>

